body{
    background-image: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    height: 100vh;
    /* width: 100vw; */
    overflow: hidden;
}

.main{ 
    position: relative;
    top: 100px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-content: center; */
}

#left{
    float: left;
    /* position: relative; */
    /* display: inline; */
    margin-left: 100px;
}

#right{
    float: left;
    /* display: inline; */
    margin-left: 100px;
}


/* NOT utilized "btn" from bootstrap to deal w/ hover problem */
.btnn {  
    width: 75px;
    height: 75px;
    /* border-radius: 99em; */
    background: rgba(0,0,0,0);
    color: white;
    font-size: 30px;
    transition: background 0.3s;
    border-radius: 10%;
    box-shadow: none;
    border: 0;			
}

.btnn:hover {
    background: #dddddd;
    color: #FFFFFF;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    /* width: 50%; */
}


.small{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 0%;
}